<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ex4</display-name>
  <welcome-file-list>
    <welcome-file>SelectBeer.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
  <!-- 申明自定义tag uri 与 tld 文件路径 -->
    <taglib>
      <taglib-uri>MyFirstTag</taglib-uri>
      <taglib-location>/WEB-INF/lib/MyTag.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>MySimpleTag</taglib-uri>
        <taglib-location>/WEB-INF/tld/mySimpleTag.tld</taglib-location>
    </taglib>
  </jsp-config>

  <servlet>
    <description></description>
    <display-name>ShoppingCart</display-name>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>ex4.ShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDarkBeer</display-name>
    <servlet-name>ShowDarkBeer</servlet-name>
    <servlet-class>ex4.ShowDarkBeer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDarkBeer</servlet-name>
    <url-pattern>/ShowDarkBeer</url-pattern>
  </servlet-mapping>
</web-app>