<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ex1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/firstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectBeerServlet</display-name>
    <servlet-name>SelectBeerServlet</servlet-name>
    <servlet-class>SelectBeerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBeerServlet</servlet-name>
    <url-pattern>/selectBeerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeReturn</display-name>
    <servlet-name>CodeReturn</servlet-name>
    <servlet-class>CodeReturn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeReturn</servlet-name>
    <url-pattern>/bookCode.jar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBrownBeer</display-name>
    <servlet-name>ShowBrownBeer</servlet-name>
    <servlet-class>ShowBrownBeer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBrownBeer</servlet-name>
    <url-pattern>/ShowBrownBeer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDarkBeer</display-name>
    <servlet-name>ShowDarkBeer</servlet-name>
    <servlet-class>ShowDarkBeer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDarkBeer</servlet-name>
    <url-pattern>/ShowDarkBeer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestInitParams</display-name>
    <servlet-name>TestInitParams</servlet-name>
    <servlet-class>TestInitParams</servlet-class>
    <!-- 仅能该servlet访问 -->
    <init-param>
    	<param-name>adminEmail</param-name>
    	<param-value>admin@gmail.com</param-value>
    </init-param>
    <init-param>
    	<param-name>mainEmail</param-name>
    	<param-value>main@gmail.com</param-value>
    </init-param>
  </servlet>
  <!-- 上下文初始化参数，web应用中所有的servlet与jsp都能访问到 -->
  <context-param>
  	<param-name>adminEmail</param-name>
  	<param-value>context@gmail.com</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>TestInitParams</servlet-name>
    <url-pattern>/TestInitParams</url-pattern>
  </servlet-mapping>
</web-app>